/* DM Sans Google Font Link */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid red; */
  margin-top: 110px;
  padding: 10px;
  /* font-family: DM-Sans; */
  font-family: "DM Sans", sans-serif;
  
}

.form-body{
  /* border: 1px solid red; */
  padding: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.Login_header {
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
}

.Login p{
  font-size: 20px;
}

.login_p{
  display:flex;
  justify-content: center;
}

.l-form {
  padding: 20px;
  /* border: 1px solid red; */
}

.inner_lform{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.inner_lform input{
  padding-left: 10px;
  border-radius: 10px;
  font-size: 15px;
  width:  300px;
  height: 40px;
}

.Login button{
  float: right;
  padding: 10px;
  color: white;
  background: #1c2767;
  width: 100px;
  border-radius: 10px;
  cursor: pointer;
}

.L_section span{
  font-size: 20px;
  margin: 10px;
}

.lalert{
  border: 1px solid red;
  color: red;
  padding: 10px;
  border-radius: 10px;
}